<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cardiac Arrhythmia</title>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/static/fonts/ionicons.min.css">
    <link rel="stylesheet" href="/static/fonts/simple-line-icons.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aguafina+Script">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alegreya+Sans">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allerta+Stencil">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amiko">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amiri">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Andada">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Arapey">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Arima+Madurai">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Arimo">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bilbo+Swash+Caps">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cookie">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora">
    <link rel="stylesheet" href="/static/css/Article-Dual-Column.css">
    <link rel="stylesheet" href="/static/css/Article-List.css">
    <link rel="stylesheet" href="/static/css/Features-Boxed.css">
    <link rel="stylesheet" href="/static/css/Footer-Basic.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/css/swiper.min.css">
    <link rel="stylesheet" href="/static/css/Login-Form-Clean-1.css">
    <link rel="stylesheet" href="/static/css/Login-Form-Clean.css">
    <link rel="stylesheet" href="/static/css/Navigation-with-Button.css">
    <link rel="stylesheet" href="/static/css/Registration-Form-with-Photo.css">
    <link rel="stylesheet" href="/static/css/Simple-Slider.css">
    <link rel="stylesheet" href="/static/css/styles.css">
</head>

<body style="background-image:url(&quot;none&quot;);background-repeat:no-repeat;background-position:top;background-size:auto;">
    <div></div>
    <div>
        <nav class="navbar navbar-light navbar-expand-md navigation-clean-button" style="color:rgb(0,0,0);background-color:#c5c5c5;height:80px;margin-top:20px;">
            <div class="container"><a class="navbar-brand" href="#"><img src="/static/img/Final.png" style="height:100px;"></a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div
                    class="collapse navbar-collapse" id="navcol-1">
                    <ul class="nav navbar-nav mr-auto"></ul><span class="navbar-text actions"> </span><a class="btn btn-link action-button" role="button" href="{{url_for('index')}}" style="font-family:Arimo, sans-serif;background-color:#c5c5c5;color:#104685;font-weight:bold;">HOME</a><a class="btn btn-link action-button"
                        role="button" href="{{url_for('login')}}" style="font-family:Arimo, sans-serif;background-color:#c5c5c5;color:#104685;font-weight:bold;">CONTACT US</a><a class="btn btn-link action-button" role="button" href="{{url_for('signup')}}" style="font-family:Arimo, sans-serif;background-color:#c5c5c5;color:#104695;font-weight:bold;">SIGN UP</a></div>
    </div>
    </nav>
    </div>
    <div class="article-dual-column">
        <div class="container">
            <div class="row">
                <div class="col-md-10 offset-md-1">
                    <div class="intro">
                        <h1 class="text-center" style="color:#d7271f;">THE MOST VALUABLE THING IS YOUR HEALTH</h1>
                        <p class="text-center"> </p><img class="img-fluid" src="/static/img/4.png" style="margin-left:110px;background-position:center;margin-right:0px;width:700px;background-size:auto;"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 col-lg-3 offset-md-1" style="font-size:0px;">
                    <div class="toc">
                        <ul>
                            <li><a style="font-size:15px;">Types of Cardiac Arrhythmia</a> </li>
                            <li><a href="#" style="font-size:15px;">Causes of Cardiac Arrhythmia</a></li>
                            <li><a href="#" style="font-size:15px;">Symptoms</a> </li>
                            <li style="font-size:15px;">Diagnosis</li>
                            <li style="font-size:15px;">Treatment</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-10 col-lg-7 offset-md-1 offset-lg-0">
                    <div class="text">
                        <p class="text-justify" style="margin-bottom:0px;">When it's normal, your heartbeat is nice and regular and has just the right rate. But when your heartbeat is too fast, too slow, or beats in an irregular rhythm, it's known as a cardiac arrhythmia (abnormal heart rhythm), which
                            is among the most common of the heart disorders. Most people, in fact, have occasional cardiac arrhythmias.<br></p>
                        <p class="text-justify"><br>An arrhythmia is caused by a disruption of your heart’s normal electrical system, which regulates your heart rate and heart rhythm. The severity of cardiac arrhythmias can vary tremendously. Most arrhythmias are completely
                            benign and inconsequential, while others are extremely dangerous and life-threatening. And many of them, while not particularly dangerous, produce symptoms that can be quite disruptive to your life.<br></p>
                        <h1></h1>
                        <h2 style="height:29px;">Types of Cardiac Arrhythmia</h2>
                        <p style="height:20px;margin-bottom:0px;">The types of arrhythmias include:<br><br></p>
                        <ul>
                            <li>Premature atrial contractions<br></li>
                            <li>Premature ventricular contractions(PVCs)<br></li>
                            <li>Atrial fibrillation<br></li>
                            <li>Atrial flutter<br></li>
                            <li>Paroxysmal supraventricular tachycardia (PSVT)<br></li>
                            <li>Accessory pathway tachycardias<br></li>
                            <li>AV nodal reentrant tachycardia<br></li>
                            <li>Ventricular tachycardia (V-tach)<br></li>
                            <li>Ventricular fibrillation<br></li>
                            <li>Long QT syndrome<br></li>
                            <li>Bradyarrhythmias<br></li>
                            <li>Sinus node dysfunction<br></li>
                            <li class="justify-content-sm-center">Heart block<br></li>
                        </ul>
                        <ul class="list-group"></ul>
                        <figure class="figure"><img class="figure-img" src="/static/img/arrythmia.png" style="width:700px;"></figure>
                        <h2>Causes of Cardiac Arrhythmia</h2>
                        <p>There are many potential&nbsp;causes of heart arrhythmias, including:<br></p>
                        <ul>
                            <li>A current heart attack<br></li>
                            <li>Scarring in your heart from a previous heart attack<br></li>
                            <li>Heart disease<br></li>
                            <li>Smoking<br></li>
                            <li>Abusing drugs<br></li>
                            <li>Exposure to too much alcohol or caffeine<br></li>
                            <li>GeneticsHigh blood pressure<br></li>
                            <li>Blocked arteries<br></li>
                            <li>Diabetes<br></li>
                            <li>Thyroid disorders, including hypothyroidism and hyperthyroidism<br></li>
                            <li>Stress<br></li>
                            <li>Certain medications and supplements, whether prescription or over-the-counter<br></li>
                        </ul>
                        <h2 style="font-size:20px;color:rgb(51,51,51);height:29px;margin:28px 0px 20px;">Symptoms</h2>
                        <p style="font-size:14px;">An arrhythmia can be silent and not cause any symptoms. A doctor can detect an irregular heartbeat during a physical exam by taking your pulse or through an electrocardiogram (ECG). &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<br></p>
                        <ul>
                            <li>Palpitations (a feeling of skipped heart beats, fluttering or "flip-flops," or feeling that your heart is "running away")<br></li>
                            <li>Pounding in your chest<br></li>
                            <li>Dizziness or feeling light-headed<br></li>
                            <li>Fainting<br></li>
                            <li>Shortness of breath<br></li>
                            <li>Chest discomfort<br></li>
                            <li>Weakness or fatigue (feeling very tired)<br></li>
                            <li>Cardiac Arrest</li>
                        </ul>
                        <h2></h2>
                    </div>
                    <h2 style="font-size:20px;color:rgb(51,51,51);height:29px;margin:28px 0px 20px;"><strong>Diagnosis</strong></h2>
                    <p>Making the correct diagnosis of a cardiac arrhythmia generally requires capturing it on an electrocardiogram (ECG) or other heart-monitoring tests, along with a physical exam and complete medical history.1﻿ If your doctor doesn't find
                        an arrhythmia with a heart-monitoring test, he or she might use a stress test, a tilt table test, or do an electrophysiology study.<br></p>
                    <h2 style="font-size:20px;color:rgb(51,51,51);height:29px;margin:28px 0px 20px;"><strong>Treatment</strong></h2>
                    <p>Just as there are many types of heart rhythm problems, many different treatment options are available. Deciding which treatment to use for which arrhythmia can be challenging even for cardiologists.<br></p>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-basic" style="background-color:#c5c5c5;">
        <footer>
            <div class="social"><a href="#"><i class="icon-envelope"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a></div>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="#">Home</a></li>
                <li class="list-inline-item"><a href="#">Services</a></li>
                <li class="list-inline-item"><a href="#">About</a></li>
                <li class="list-inline-item"><a href="#">Terms</a></li>
                <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
            </ul>
            <p class="copyright">Carrhythmia © 2020</p>
        </footer>
    </div>
    <div class="simple-slider">
        <div class="swiper-container">
            <div class="swiper-wrapper"></div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/js/swiper.jquery.min.js"></script>
    <script src="/static/js/Simple-Slider1.js"></script>
</body>

</html>